<br>
<form action="/projects/new" method="GET">
<input type="submit" value="Add a Project!">
</form>

<h1>Project List</h1>

<div >
  <form action="/projects" method="GET">
  Search Tags:<input class="project-search" type="text" />
  <input type="submit" value="Search">
</form>
</div>
<div class="project-search-results">
  <%= erb :projects_bare_bones %>
</div>

