<br>
<form action="/projects/new" method="GET">
<input type="submit" value="Add a Project!">

<h1>Project List</h1>

<% @all_projects.reverse.each do |project| %>
  <% this_projects_tags = project.tags %>
  <p>
    <a href="/projects/<%= project.id %>"</a><%= project.title %>
    <% this_projects_tags.each do |tag| %>
      <h6><%= tag.name %></h6>
    <% end %>
  </p>
<% end %>
