<div class="create-project-container">
  <form action="/projects" method="POST">
  <input class="project-title-box" type="text" name="project_title" placeholder="Project title"> <br>
  <input class="project-code-url-box" type="text" name="code_url" placeholder="Project code URL"><br>

  <img class="directions-pic" src="~/BootBase/source/public/resources/directions-pic.png">
  <input class="add-project-button" type="submit" value="Add your project">
</div>

