<br>
<form action="/projects/new" method="GET">
<input type="submit" class="tagSearch" value="Add a Project!">
</form>

<h1>Project List</h1>

<div >
  <form action="/projects" method="GET">
  Search Tags:<input class="project-search" type="text" />
  <input type="submit" value="Search">
</form>
</div>
<div class="project-search-results">
  <%= erb :projects_bare_bones %>
</div>

<script type="text/javascript">
    // var tags = <%= @tags.map(&:to_s) %>;
    // $('.tagSearch').autocomplete({
    //   source: tags
    // })
</script>

<script>
         $(function() {
            var availableTutorials = [
               "ActionScript",
               "Boostrap",
               "C",
               "C++",
            ];
            $( ".tagSearch" ).autocomplete({
               source: availableTutorials
            });
         });
      </script>
