<br>
<form action="/projects" method="POST">
Project title:
<input type="text" name="project_title"> <br>
Project code url:
<input type="text" name="code_url"><br>
<input type="submit" value="Add your project">

<br>
<br>
<br>
<p>[  This is where the code from the github repo will go]</p>
