/** {
  border: 1px solid #000000;
}*/

.bootbase {
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: bold;
  height: auto;
  overflow: visible;
  /*text-transform: uppercase;*/
}

.code {
  height: 65vh;
  /*width: 1200px;*/
  overflow-y: scroll;
}

.project-search {
  display: block;
}

.button.round {
  background-color: #43AC6A;
}

.search-and-add-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.profile-pic-img {
  width: 112px;
  height: 112px;
  float: left;
  display: inline-block;
}

.col username {
  color: #008CBA;
  text-decoration: none;
}

.col.tag-container {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 53px;
}

.col.tag {
  /*padding: 5px;*/
  height: auto;
}

.button.round.tag {
  display: flex;
  background-color: #00bfc6;
  height: 53px;
  width: auto;
  text-align: left;
  padding-left: 5px;
}

#no_vote.button.round.tag {
  display: inline-flex;
  background-color: #00bfc6;
  height: 53px;
  width: auto;
  text-align: left;
  padding-left: 5px;
}

#voted.button.round.tag {
  display: inline-flex;
  background-color: #00bfc6;
  height: 53px;
  width: auto;
  text-align: left;
  padding-left: 5px;
  background-color: red;
}

.votes {
  display: inline-flex;
}

.logout {
  display: flex;
  flex-direction: row-reverse;
}


/*font-family: 'Open Sans', sans-serif;*/

/*.test-container {
  display:flex;
  justify-content: flex-start;
}

.div1 {
  background-color: blue;
}

.div2 {
  background-color: black;
}*/
