.bootbase h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: bold;
  /*text-transform: uppercase;*/
}

.code {
  height: 65vh;
  /*width: 1200px;*/
  overflow-y: scroll;
}

.project-search {
  display: block;
}

.button.round {
  background-color: #43AC6A;
}

.search-and-add-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/*.row.project-container {
  height: 112px;
}

.col.profile-pic {

}*/

.profile-pic-img {
  width: 112px;
  height: 112px;
  float: left;
  display: inline-block;
}

/*.project_title a:link {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #008CBA;
  text-decoration: none;
  vertical-align: top;
}

.project_title a:visited {
  color: #000000;
  text-decoration: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  vertical-align: top;
}*/

.col username {
  color: #008CBA;
  text-decoration: none;
}

.col.tag-container {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 53px;
}

.col.tag {
  /*padding: 5px;*/
  height: auto;
}

.button.round.tag {
  display: flex;
  background-color: #00bfc6;
  height: 53px;
  width: auto;
  text-align: left;
  padding-left: 5px;
}

.button.round.tag.vote {
  display: inline-flex;
  background-color: #00bfc6;
  height: 53px;
  width: auto;
  text-align: left;
  padding-left: 5px;
}

.votes {
  display: inline-flex;
}


/*font-family: 'Open Sans', sans-serif;*/

/*.test-container {
  display:flex;
  justify-content: flex-start;
}

.div1 {
  background-color: blue;
}

.div2 {
  background-color: black;
}*/
