/** {
  border: 1px solid #000000;
}*/

.brand {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: bold;
  height: auto;
  overflow: visible;
  color: black;
  /*text-transform: uppercase;*/
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.search-and-add-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

input[type=text].search-box {
  border-radius: 15px;
  margin-bottom: 18px;
  height: 2em;
  width: 35em;
  outline: 0;
}

.project-container {
  display: flex;
}

.code {
  height: 65vh;
  /*width: 1200px;*/
  overflow-y: scroll;
}

/*.project-search {
  display: block;
}*/

.add_example_button {
  color: white;
  background-color: #0ACF00;
  border-radius: 50px;
  padding: 14px;
  text-decoration: none;
}

.add_example_button:hover {
  color: white;
}

.profile-pic-img {
  width: 112px;
  height: 112px;
  float: left;
  display: inline-block;
}

.title {
  text-decoration: none;
  color: #466FD5;
  font-size: 1em;
  font-weight: normal;
}

.title:hover {
  color: #6C8AD5;
}

.title:visited {
  color: #2A4380;
}

.title:visited:hover {
  color: #6C8AD5;
}

.username {
  display: flex;
  color: #008CBA;
  text-decoration: none;
  padding-bottom: 1vh;
}

.tag-container {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 2vh;
}

.individual-tag-container {
  /*padding: 5px;*/
  height: auto;
}


.tag {
  color: white;
  background-color: #FF9640;
  border-radius: 10px;
  margin-right: 1vh;
  padding: 1vh;
}


a.tag:link {
  cursor: default;
  color: white;
}

a.tag:hover {
  cursor: default;
  color: white;
}

.username {
  height: 1em;
}

a.username {
  padding-bottom: 1em;
}

.button.round.tag {
  display: flex;
  background-color: #00bfc6;
  height: 53px;
  width: auto;
  text-align: left;
  padding-left: 5px;
}

.project-title-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 2em;
  width: 35em;
  outline: 0;
}

.project-code-url-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 2em;
  width: 35em;
  margin-bottom: 7px;
  outline: 0;
}

.add-project-button {
  color: white;
  background-color: #0ACF00;
  border-radius: 50px;
  padding: 14px;
  text-decoration: none;
  border: 0;
}

.project-title {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.voting-tag-container {
  display: flex;
  flex-direction: row;
}

#no_vote.vote {
  display: inline-flex;
  text-align: left;
  color: white;
  background-color: gray;
  border-radius: 10px;
  margin-right: 1vh;
  padding: 1vh;
  text-decoration: none;
}

#no_vote.vote:hover {
  color: #FF9640;
}

#voted.vote {
  display: inline-flex;
  text-align: left;
  color: white;
  background-color: #F16F0C;
  border-radius: 10px;
  margin-right: 1vh;
  padding: 1vh;
  text-decoration: none;
}

#voted.vote:hover {
  color: gray;
}

.add-tag {
  margin-top: 1em;
  width: 50%;
}

.add-tag-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 2em;
  width: 35em;
  margin-bottom: 7px;
}

.add-tag-button {
  color: white;
  background-color: #0ACF00;
  border-radius: 50px;
  padding: 14px;
  text-decoration: none;
  border: 0;
}

.logout {
  display: flex;
  flex-direction: row-reverse;
}


/*font-family: 'Open Sans', sans-serif;*/

/*.test-container {
  display:flex;
  justify-content: flex-start;
}

.div1 {
  background-color: blue;
}

.div2 {
  background-color: black;
}*/
