<div class='header'>
  <div class="logout">
    <a href="/logout">Logout</a>
  </div>

  <div class="brand">
    BootBase
  </div>
</div>

<div class='main-container'>
  <div class="search-and-add-container">
    <div class="form">
      <form class="project-search">
        <input type="text" class="search-box" placeholder="Search tags...">
      </form>
    </div>

    <div class="add-example">
      <a href="/projects/new" class="add_example_button">+ Add Code Exmaple!</a>
    </div>
  </div>

  <div class="project-search-results">
    <%= erb :projects_bare_bones %>
  </div>

</div>

<script type="text/javascript">
    // var tags = <%= @tags.map(&:to_s) %>;
    // $('.tagSearch').autocomplete({
    //   source: tags
    // })
</script>

<script>
//   $(function() {
//      var availableTutorials = [
//         "ActionScript",
//         "Boostrap",
//         "C",
//         "C++",
//      ];
//      $( ".tagSearch" ).autocomplete({
//         source: availableTutorials
//      });
//   });
</script>
